/* line 8, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* html, * body {
  display: block;
  background: #011d4f; }

/* line 13, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* .head {
  padding: 40px 0 40px 0;
  color: #fff; }

/* line 18, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* .heading_h {
  text-transform: uppercase;
  font-size: 2.5em; }

/* line 23, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* .item {
  padding: 20px 40px 0px 40px;
  height: 250px;
  max-height: 100%;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
  border-radius: 5px;
  background: #fff;
  padding-top: 40px;
  overflow: scroll; }
  /* line 34, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
  * .item input {
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 2rem; }
    /* line 38, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
    * .item input:hover {
      opacity: 1; }
    /* line 41, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
    * .item input:active {
      opacity: 1; }
    /* line 44, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
    * .item input:focus {
      opacity: 1; }
  /* line 48, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
  * .item input[type=text] {
    padding-left: 20px; }

/* line 54, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* button {
  background: transparent;
  color: #011d4f;
  padding: 0.5rem 1.5rem;
  font-weight: 1.2rem;
  text-transform: uppercase;
  border: 0.1rem solid #011d4f;
  border-radius: 12rem;
  transition: all 0.3s; }
  /* line 63, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
  * button:hover {
    border: 0.1rem solid #1a1a1a;
    background: #011d4f;
    color: #fff; }

/* line 70, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* .item .edit {
  display: none; }

/* line 74, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* .item.edit .edit {
  display: initial; }

/* line 78, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* .item.edit .noedit {
  display: none; }

/* line 82, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* .addProduct {
  padding: 80px 0 40px 0; }
  /* line 85, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
  * .addProduct h4 {
    text-align: center;
    color: #fff; }
  /* line 90, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
  * .addProduct input {
    width: 100%;
    padding: 10px 0 10px 0;
    margin: 2px;
    opacity: 0.8;
    border: 0;
    border-radius: 12rem; }
    /* line 97, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
    * .addProduct input:hover {
      opacity: 1; }
    /* line 100, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
    * .addProduct input:active {
      opacity: 1; }
    /* line 103, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
    * .addProduct input:focus {
      opacity: 1; }
  /* line 107, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
  * .addProduct input[type=text] {
    padding-left: 20px; }
  /* line 111, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
  * .addProduct button {
    display: block;
    margin: 0 auto;
    color: #fff;
    padding: 1.05rem 2.75rem;
    border: 0.1rem solid #fff; }
    /* line 117, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
    * .addProduct button:hover {
      color: #011d4f;
      background: #fff; }

/* line 124, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* .footer {
  padding: 40px 0 20px 0;
  color: #fff; }

/* line 130, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* ::-webkit-input-placeholder {
  padding-left: 10px;
  color: #1a1a1a; }

/* line 135, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* :-moz-placeholder {
  /* Firefox 18- */
  padding-left: 10px;
  color: #1a1a1a; }

/* line 140, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* ::-moz-placeholder {
  /* Firefox 19+ */
  padding-left: 10px;
  color: #1a1a1a; }

/* line 145, C:/Users/YashArora/Documents/GitHub/Employee-portal/styles/main.scss */
* :-ms-input-placeholder {
  padding-left: 10px;
  color: #1a1a1a; }

/*# sourceMappingURL=main.css.map */